<div class="jumbotron">
	<p>Edit Todo Form</p>
	<%= form_for @changeset, todo_path(@conn, :update, @todo.id), fn f -> %>
	  <div class="form-group">
	  	<input type="hidden" name="csrf_token" value="<%= csrf_token(@conn) %>">
			<%= label :todo, :name, class: "control-label" %>
			</label>
			<%= text_input f, :name, class: "form-control" %>
		</div>
		<%= submit "Submit", class: "btn btn-default" %>
	<% end %>
</div>
