<div><%= link "Add todo", to: todo_path(@conn, :new) %></div>
<br/>
<div>List of todos</div>
<table>
	<thead>
		<th>Name</th>
	</thead>
	<%= for todo <- @todos do %>
	<tr>
		<td>
			<%= todo.id%>,
			<%= todo.name%>,
			<%= link "show", to: todo_path(@conn, :show, todo.id)%>
			<%= link "edit", to: todo_path(@conn, :edit, todo.id)%>
			<%= link "delete", to: todo_path(@conn, :delete, todo.id), method: "delete" %>
		</td>
	</tr>
	<% end %>
</table>
